---
# tasks file for roles/kibana
- name: Installing Java
  apt:
   name: openjdk-11-jdk
   update_cache: yes

- name: Installing Dependency
  apt:
   name: nginx
   update_cache: yes

- name: Importing the Kibana public GPG key into APT
  apt_key:
   url: https://artifacts.elastic.co/GPG-KEY-elasticsearch
   state: present

- name: Adding Kibana source list
  lineinfile:
   path: /etc/apt/sources.list.d/elastic-7.x.list
   line: '{{ kibana_source }}'
   create: yes

- name: Installing Kibana
  apt:
   name: kibana
   update_cache: yes

- name: Starting kibana
  systemd:
   name: kibana
   enabled: yes
   state: started

- name: Installing pip for htpasswd
  apt: 
   name: python3-pip
   state: latest

- name: Installing htpasswd module
  pip:
   name: passlib
   state: latest

- name: Creating Admin User
  htpasswd:
   path: /etc/nginx/htpasswd.users
   name: kibanaadmin
   password: '{{ kibana_pass }}'

- name: Creating Nginx Virtual Host Configuration file
  copy:
   src: kibana_config
   dest: /etc/nginx/sites-available

- name: Creating hard link for kibana
  file:
   src: /etc/nginx/sites-available/kibana_config
   dest: /etc/nginx/sites-enabled/kibana_config
   remote_src: 'yes'
   state: link

- name: Restarting nginx
  service:
   name: nginx
   state: restarted
  
